<!DOCTYPE html>
<html>
<head>
    <a href="../index.html" alt="Home" target="_self">
        <img src="../IMG/button_home.png" height="40"/>
    </a>
    <a href="../VIEW/cadastro.html" alt="Página Cadastro" target="_blank">
        <img src="../IMG/button_cadastro.png" height="40" />
    </a>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>Sobre Nós</h2>

    <p>
        Somos uma comunidade dedicada à conscientização, ensino e amor à natureza e as flores.<br/> Nosso objetivo é trazer um pouco da nature à vida corrida da cidade, trazendo calma e paz à vida de todos
    </p>
</body>
</html>